particle_types:
  digis:
    amount: 'digi_nDigis'
    attributes:
      wh: 
        branch: 'digi_wheel'
      sc: 
        branch: 'digi_sector'
      st: 
        branch: 'digi_station'
      sl: 
        branch: 'digi_superlayer'
      w: 
        branch: 'digi_cell'
      l: 
        branch: 'digi_layer'
      parent_pdgId: 
        branch: 'digi_parentPDG'
      track_id: 
        branch: 'digi_trackId'
      time: 
        branch: 'digi_TDC'
      BX:
        expr: 'time // 25 if time is not None else None'
    sorter:
      by: 'p.BX'
  segs:
    amount: 'seg_nSegments'
    attributes:
      wh: 
        branch: 'seg_wheel'
      sc: 
        branch: 'seg_sector'
      st: 
        branch: 'seg_station'
      local_pos_x: 
        branch: 'seg_localPosX'
      local_pos_y: 
        branch: 'seg_localPosY'
      local_pos_z: 
        branch: 'seg_localPosZ'
      local_dir_x: 
        branch: 'seg_localDirX'
      local_dir_y: 
        branch: 'seg_localDirY'
      local_dir_z: 
        branch: 'seg_localDirZ'
      global_pos_x: 
        branch: 'seg_globalPosX'
      global_pos_y: 
        branch: 'seg_globalPosY'
      global_pos_z: 
        branch: 'seg_globalPosZ'
      global_dir_x: 
        branch: 'seg_globalDirX'
      global_dir_y: 
        branch: 'seg_globalDirY'
      global_dir_z: 
        branch: 'seg_globalDirZ'
  gens:
    amount: 'gen_nGenParts'
    attributes:
      pt: 
        branch: 'gen_pt'
      eta: 
        branch: 'gen_eta'
      phi: 
        branch: 'gen_phi'
      charge: 
        branch: 'gen_charge'
      pdgId: 
        branch: 'gen_pdgId'
      rad_energy: 
        branch: 'gen_radEnergy'
      n_secondaries:
        branch: 'gen_nSecondaries'
      showered: False
    sorter:
      by: 'p.pt'
      reverse: True
  simhits:
    amount: 'simHit_nSimHits'
    attributes:
      wh: 
        branch: 'simHit_wheel'
      sc: 
        branch: 'simHit_sector'
      st: 
        branch: 'simHit_station'
      sl: 
        branch: 'simHit_superlayer'
      l: 
        branch: 'simHit_layer'
      w: 
        branch: 'simHit_cell'
      time:
        branch: 'simHit_time'
      process_type: 
        branch: 'simHit_process_type'
      particle_type: 
        branch: 'simHit_PDG'
      local_pos_x: 
        branch: 'simHit_xlocal'
      local_pos_y: 
        branch: 'simHit_ylocal'
      local_pos_z: 
        branch: 'simHit_zlocal'
      edep: 
        branch: 'simHit_edep'
      track_id: 
        branch: 'simHit_trackId'
      parent_pdgId: 
        branch: 'simHit_parentId'
      track_length: 
        branch: 'simHit_trackLength'
      vertex_x: 
        branch: 'simHit_vertexPosX'
      vertex_y:
        branch: 'simHit_vertexPosY'
      vertex_z: 
        branch: 'simHit_vertexPosZ'
      vertex_energy: 
        branch: 'simHit_vertexKineticEnergy'
# -------------------------------- configuration for NTuple --------------------------------------#
ntuple_tree_name: '/DTG4SimNTuple/DTG4Tree'

# =============== preprocessors - dtntuple ================= #
ntuple_preprocessors:
  # define the event preprocessors to be used in the ntuple
  build-real-showers:
    src: "shower_functions.build_real_showers"
    kwargs:
      threshold: 8
      debug: False

# ================= selectors - dtntuple ================= #
# ntuple_selectors:
# comment/uncomment/add as needed...
  # test-selector:
  #   src: "dtpr.utils.selectors.test_selector"

# -------------------------------- configuration for histograms -----------------------------------#
histo_sources:
  # define the source modules of the histograms
  # - inspection_histograms
  - histograms
  # - Others if needed...
  # ...

histo_names:
  # Histogram to fill - Uncomment or add histograms as needed. 
  # They should exist in any of the source modules
  - Muon_pt_no_showered
  - Muon_pt_showered
  - Muon_nSecondaries_no_showered
  - Muon_nSecondaries_showered
  - Muon_radEnergy_no_showered
  - Muon_radEnergy_showered
  - Muon_radEnergy_vs_pt_no_showered
  - Muon_radEnergy_vs_pt_showered
  - Muon_nSecondaries_vs_pt_no_showered
  - Muon_nSecondaries_vs_pt_showered
  - SimHit_nHits_no_showered
  - SimHit_nHits_showered
  - SimHit_nHits_per_station_no_showered
  - SimHit_nHits_per_station_showered
  - SimHit_nHits_per_sl_no_showered
  - SimHit_nHits_per_sl_showered
  - SimHit_time_no_showered
  - SimHit_time_showered
  - SimHit_energyDeposit_no_showered
  - SimHit_energyDeposit_showered
  - SimHit_trackLength_no_showered
  - SimHit_trackLength_showered
  - Digi_nDigis_no_showered
  - Digi_nDigis_showered
  - Digi_tdc_no_showered
  - Digi_tdc_showered
  - Digi_BX_no_showered
  - Digi_BX_showered
  - Digi_nDigis_per_station_no_showered
  - Digi_nDigis_per_station_showered
  - Digi_nDigis_per_sl_no_showered
  - Digi_nDigis_per_sl_showered
  - muonshowered_vs_pt

# ----------------------------- configuration for event inspector ---------------------------------#
# Functions to be used in the event inspector.
# inspector-functions:
# define the functions to be used in the event inspector in the format:
# func1:
#   src: "..."
#   kwargs:
#     arg1: value1
#     ...
#   ...
 
# ------------------------------- configuration for dt plots  -------------------------------------#
# Plotting configuration for DT visualizations.
plot_configs:
  mplhep-style: 'CMS'         # Style to use for the plots

  figure-configs: 
    figure.dpi: 100             # Dots per inch (resolution)
    axes.titlesize: 'small'     # Axes title size
    axes.labelsize: 'x-small'    # Axes label size
    xtick.labelsize: 'x-small'    # X-axis tick label size
    ytick.labelsize: 'x-small'    # Y-axis tick label size
    legend.fontsize: 'small'   # Legend font size

  artists:
    # artists to be used in the DT plots
    dt-station-global: &dt-station-global 
      src: "dtpr.utils.dt_plot_functions.embed_dts2axes"  # Source of the artist
      rep-info:
        particle_type: 'digis'      # Particle type to use
        cmap_var: 'time'            # Variable to use for the colormap

      # DT bounds and cells are matplotlib.patches.Rectangle objects
      bounds_kwargs:
        facecolor: ["lightgray", "lightyellow", "lightpink", "lightblue"]   # Color of the rectangle [MB, SL1, SL3, SL2]
        edgecolor: "k"                                                      # Color of the edge
        alpha: 0.3                                                          # Transparency of the rectangle
        linewidth: 0.5                                                      # Width of the edge

      cells_kwargs:
        edgecolor: "k"              # Color of the edge
        linewidth: 0.025              # Width of the edge
        cmap: 'viridis'             # Colormap to use, list of colors or {name, N} dict
        norm: # from matplotlib.colors
          class: 'Normalize'  # Normalization class
          vmin: 299                             # Minimum value for normalization
          vmax: 1000                            # Maximum value for normalization

    dt-station-local:
      <<: *dt-station-global
      src: "dtpr.utils.dt_plot_functions.embed_dt2axes"

    dt-segment-global: &dt-segment-global
      src: "dtpr.utils.dt_plot_functions.test_builder"  # dummy function as placeholder; replace with actual implementation when available
      rep-info:
        particle_type: 'segments'  # Particle type to use
        cmap_var: 'matched_genmuons'  # Variable to use for the colormap
      segs_kwargs:
        linewidth: 0.8
        cmap: ["k", 'r']             # Colormap to use
        norm:
          class: 'BoundaryNorm'  # Normalization class
          boundaries: [0, 1, 2]      # Boundaries for the col
          ncolors: 2                 # Number of colors in the colormap

    dt-segment-local:
      <<: *dt-segment-global

    dt-am-tps-global: &dt-am-tps-global
      src: "dtpr.utils.dt_plot_functions.embed_segs2axes_glob"  # Source of the artist
      rep-info:
        particle_type: 'tps'  # Particle type to use
        cmap_var: 'quality'   # Variable to use for the colormap
      segs_kwargs:
        linewidth: 0.8
        cmap:                 # Colormap to use
          name: 'viridis'
          N: 9
        norm:
          class: 'BoundaryNorm'  # Normalization class
          boundaries: [0.1, 1, 2, 3, 4, 5, 6, 7, 8, 9]      # Boundaries for the colormap
          ncolors: 9                 # Number of colors in the colormap
          clip: True  # Clip values outside the boundaries

    dt-am-tps-local:
      <<: *dt-am-tps-global
      src: "dtpr.utils.dt_plot_functions.embed_segs2axes_loc"  # Source of the artist

    dt-simhits-local:
      src: "dtpr.utils.dt_plot_functions.embed_simhits2axes_loc"  # Source of the artist
      rep-info:
        particle_type: 'simhits'  # Particle type to use

    dt-showers-global: &dt-shower-global
      src: "dtpr.utils.dt_plot_functions.embed_shower2axes_glob"  # Source of the artist
      rep-info:
        particle_type: 'fwshowers'  # Particle type to use
      color: 'red'
      linewidth: 3

    dt-showers-local:
      <<: *dt-shower-global
      src: "dtpr.utils.dt_plot_functions.embed_shower2axes_loc"  # Source of the artist

    cms-shadow-global:
      src: "dtpr.utils.dt_plot_functions.embed_cms_global_shadow"  # Source of the artist
      edgecolor: 'black'
      facecolor: "gray"
      alpha: 0.1
      linewidth: 0.5
