particle_types:
  digis: !include ../yamls/particles-g4/digis.yaml
  segs: !include ../yamls/particles-g4/segs.yaml
  gens: !include ../yamls/particles-g4/gens.yaml
  simhits: !include ../yamls/particles-g4/simhits.yaml

# -------------------------------- configuration for NTuple --------------------------------------#
ntuple_tree_name: '/DTG4SimNTuple/DTG4Tree'

# =============== preprocessors - dtntuple ================= #
ntuple_preprocessors:
  # define the event preprocessors to be used in the ntuple
  real_shower_builder:
    src: "utils.shower_functions.build_real_showers"
    kwargs:
      threshold: 8
      debug: False
      Filtersimhits: True

  fw_showers_builder:
    src: "utils.shower_functions.build_fwshowers"
    kwargs:
      threshold: [9, 9, 8, 8]
      use_NN_filter: True
      debug: False

  fw_shower_analyzer:
    src: "utils.shower_functions.analyze_fwshowers"

  drop_fwshowers:
    src: "utils.shower_functions.drop_fwshowers"

# =============== selector ================= #
ntuple_selectors:
  cut_on_pt:
    src: "selector.cut_on_pt"
    kwargs:
      threshold: 1100

plot_configs: 
  !include ../yamls/plot_configs.yaml

# -------------------------------- configuration for histograms -----------------------------------#
histo_sources:
  - eff_histograms

histo_names:
  - shower_tpfptnfn_MB1
  - shower_tpfptnfn_MB2
  - shower_tpfptnfn_MB3
  - shower_tpfptnfn_MB4
  - fwshower_eff_MB1
  - fwshower_eff_MB2
  - fwshower_eff_MB3
  - fwshower_eff_MB4
  - fwshower_eff_MB1_onlytpfp
  - fwshower_eff_MB2_onlytpfp
  - fwshower_eff_MB3_onlytpfp
  - fwshower_eff_MB4_onlytpfp
  - gen_pt
